@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

.logo {
  cursor: pointer;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin-left: 2rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: lightgrey;
  padding: 0.5rem 0;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
  padding-right: 2rem;
}

.nav-links > .nav-item {
  cursor: pointer;
}

.restaurant-list {
  margin-top: 5vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
}

.restaurant-card {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 20vw;
}

.restaurant-card img {
  height: 40vh;
  width: 100%;
  object-fit: cover;
}

.restaurant-card h3,
h4 {
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}
