@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  ::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #f7f4ed;
    margin-top: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: lightgray;
    border-radius: 100vh;
    border: 1px solid lightgray;
  }

  ::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
    background: rgb(151, 149, 149);
  }
}
